<div class="headerContainer">
  <a class="imageContainer" mat-bubtton="" routerlink="/" routerLink="/">
   <!--  <img alt="SoftwareDEVA"
      src="assets/logo.png"> -->
  </a>
  <div class="listContainer ">
    <mat-nav-list class="mat-nav-list mat-list-base" role="navigation">
      <a class="mat-list-item " routerLink="/home">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" ></div>
          <div class="mat-list-text"></div> Inicio
        </div>
      </a>
      <a class="mat-list-item "  routerLink="/contact" >
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" ></div>
          <div class="mat-list-text"></div> Contacto
        </div>
      </a>
    </mat-nav-list>
  </div>
</div>
