table {
  width: 80%;
  margin: 0% 10%;
}

.tablePaginator{
  margin: 0px 30vw 0px 10vw;
}

.messageContainer{
  color: white;
  font-size: 4em;
  background: linear-gradient(349deg, #d5cb5347, #5a90bf);
  padding: 10% 22%;
}

.contentContainer{

}

.contactForm{
  margin: 15px 15vw 0px 15vw;
}
